body {
  background-color: #fcfdff;
  color: #01bab5;

  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

.buttonPrimary {
  background-color: #08a2d1;
  border: none;

  font-weight: 500;
}

.buttonPrimary:hover {
  background-color: #0868c7;
}
