body {
  background-color: #fcfdff;
  color: #01bab5;

  font-family: Montserrat;
  overflow-x: hidden;
}

/* Navbar */
.NavLogo {
  color: white;
  text-decoration: none;
}
.NavLogo:hover {
  color: white;
  text-decoration: none;
}
.Logo {
  width: 15%;
}

.carousel-item {
  height: 100vh;
}

.NavLink {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}
.NavLink:hover {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.activeNav {
  text-decoration: none;
  color: white;
  opacity: 1;
}
.activeNav:hover {
  color: white;
  cursor: pointer;
}

/* Slider */
.SliderImage {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.SliderContent1 {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  z-index: 1;
}
.SliderContents1 {
  width: 45%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  color: white;
  margin-left: 3em;
}
.SliderContent1Title {
  font-size: 28px;
  font-weight: bold;
}
.SliderContent1Image {
  width: 50px;
}
.SliderContent1Description {
  font-size: 18px;
  font-weight: 400;
}
.SliderContent1Button {
  background-color: #01bab5;
  border: none;

  color: white;

  font-weight: 500;
  width: auto;
  margin: 1em 0;
  padding: 0.4em 1.6em;
}
.SliderContent1Button:hover {
  background-color: #009d99;
  color: white;
}

/* TrackCount */
.TrackCount {
  color: white;
  display: flex;
  align-items: center;
  padding: 1em 0;
}
.TrackCountImage {
  padding-right: 1em;
}
.TrackCountTitle {
  margin: 0;
  font-size: 14px;
}
.TrackCountCount {
  margin: 0;
  font-size: 24px;
}
.LiveCount {
  background-color: #01bab5;
  position: absolute;
  top: 86%;
  left: 0;
  right: 0;
  z-index: 1;
}
.LiveCountMobile {
  background-color: #01bab5;
  display: none;
  margin-top: 1.5em;
}
/* TrackCount */

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #01bab5;
  color: #fff;
  height: 50px;

  font-size: 18px;
}

/* Risk Section */
/* Risk RiskTitle */
.RiskSectionTitle {
  color: #e96532;
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}
.RiskTitle {
  display: block;
  line-height: 1em;
}
.RiskHashtag {
  color: #0868c7;
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}
.RiskCovid19 {
  color: #03ada8;
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
}

/* Risk Illustration */
.RiskIllustration {
  position: absolute;
  z-index: -1;

  display: block;
  top: 3em;
  bottom: 0;
  left: 0;

  text-align: center;
  width: 35%;
  opacity: 0.8;
}

/* RiskContent
 */
.RiskContent {
  color: black;

  display: flex;
  align-items: center;
  padding: 1em;

  font-weight: 500;
  margin: 1.2em 0;
}
.RiskContentImage {
  width: 128px;
  height: 100%;
}
.RiskContentTitle {
  color: #a52020;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.RiskContentDescription {
  font-size: 18px;
  margin: 0;
}
/* Risk Section */

/* Indication Section */
.IndicationSectionTitle {
  color: #85b754;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
.IndicationSectionCovid19 {
  color: #03ada8;
  display: inline-block;
  font-size: 48px;
  font-weight: 600;
}
.TitleBar {
  color: black;
  margin-bottom: 2em;
}
/* RiskContent
 */
.IndicationContent1 {
  background-color: #a7b8d5;
  color: black;
  font-size: 24px;
  font-weight: 500;
  padding: 0.5em;
  text-align: center;

  display: flex;
  align-items: center;
}
.IndicationContent2 {
  background-color: #94c069;
  color: black;
  font-size: 24px;
  font-weight: 500;
  padding: 0.5em 1.5em;
  margin-top: 1em;
}
.IndicationIllustration {
  width: 90%;
  height: auto;
}
/* Indication Section */

/* Infection Section */
.InfectionSectionTitle {
  color: #85b754;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
.InfectionSectionCovid19 {
  color: #03ada8;
  display: inline-block;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
.InfectionSectionSubTitle {
  color: black;
  background-color: #94c069;
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  padding: 0.4em 0.6em;
}
.InfectionIllustration {
  position: absolute;
  z-index: -1;

  display: block;
  top: 13em;
  bottom: 0;
  left: 10em;

  text-align: center;

  width: 14%;
  height: auto;
  opacity: 0.8;
}

/* Content */
.InfectionContent {
  color: black;

  display: flex;
  align-items: center;
  margin: 2em 0;
  font-weight: 500;
}
.InfectionContentImage {
  width: 128px;
  height: 100%;
}
.InfectionContentTitle {
  color: #85b754;
  font-size: 24px;
  font-weight: 600;
}
.InfectionContentDescription {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
/* Infection Section */

/* Prevention Section */
.PreventionTitle {
  display: inline-block;
}
.PreventionSectionTitle {
  color: #e96532;
  display: inline-block;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
.PreventionSectionCovid19 {
  color: #03ada8;
  display: inline-block;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
.PreventionSectionSubTitle {
  color: black;
  /* display: inline-block; */
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.PreventionIllustration {
  position: absolute;
  z-index: -1;

  display: block;
  top: 25%;
  right: 0;

  text-align: center;
  width: 38%;
}

/* Content */
.PreventionContent {
  color: black;

  display: flex;
  align-items: center;
  margin: 1em 0;
  font-weight: 500;
}
.PreventionContentImage {
  width: 128px;
  height: 100%;
  margin-right: 2em;
}
.PreventionContentTitle {
  color: black;
  font-size: 24px;
  font-weight: 600;
}
.PreventionContentDescription {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}
/* Prevention Section */

@media only screen and (max-width: 1366px) {
  .SliderContent1 {
    top: 29%;
  }
  .LiveCount {
    top: 84%;
  }
  /* Risk Section */
  /* Risk Illustration */
  .RiskIllustration {
    top: 4em;
    width: 32%;
    opacity: 0.8;
  }

  /* RiskContent */
  .RiskContentImage {
    width: 96px;
  }
  .RiskContentTitle {
    font-size: 16px;
  }
  .RiskContentDescription {
    font-size: 14px;
  }
  /* Risk Section */

  /* Indication Section */
  .TitleBar {
    margin-bottom: 3em;
  }
  /* RiskContent
 */
  .IndicationContent1 {
    font-size: 18px;
  }
  .IndicationContent2 {
    font-size: 18px;
    padding: 1em 2em;
    margin-top: 2.5em;
  }
  .IndicationIllustration {
    width: 80%;
  }
  /* Indication Section */

  /* Infection Section */
  .InfectionSectionSubTitle {
    font-size: 24px;
  }

  /* Content */
  .InfectionContent {
    margin: 2em 0;
  }
  .InfectionContentImage {
    width: 96px;
  }
  .InfectionContentTitle {
    font-size: 18px;
  }
  .InfectionContentDescription {
    font-size: 16px;
  }
  /* Infection Section */

  /* Prevention Section */
  .PreventionIllustration {
    top: 26%;
  }

  /* Content */
  .PreventionContentImage {
    width: 96px;
  }
  .PreventionContentTitle {
    font-size: 18px;
  }
  .PreventionContentDescription {
    font-size: 16px;
  }
  /* Prevention Section */
}

@media only screen and (max-width: 900px) {
  .carousel-item {
    height: auto;
  }
  .carousel-inner {
    margin-top: 3em;
  }
  /* Slider */
  .SliderContent1 {
    position: absolute;
    top: 20%;
  }
  .SliderContent1Title {
    font-size: 22px;
  }
  .SliderContent1Image {
    width: 50px;
  }
  .SliderContent1Description {
    font-size: 14px;
    font-weight: 400;
  }
  .SliderContent1Button {
    font-size: 14px;
  }

  /* TrackCount */
  .TrackCount {
    padding: 0.5em 0;
  }
  .TrackCountImage {
    width: 48px;
    padding-right: 0.5em;
  }
  .TrackCountTitle {
    margin: 0;
    font-size: 10px;
  }
  .TrackCountCount {
    margin: 0;
    font-size: 16px;
  }
  .LiveCount {
    display: none;
  }

  .LiveCountMobile {
    display: block;
    margin-top: 1.5em;
  }
  /* TrackCount */

  .Footer {
    font-size: 16px;
  }
  /* Risk Section */
  /* Risk RiskTitle */
  .RiskSectionTitle {
    font-size: 36px;
    margin: 1em 0;
  }
  .RiskHashtag {
    font-size: 36px;
  }
  .RiskCovid19 {
    font-size: 36px;
  }

  /* Risk Illustration */
  .RiskIllustration {
    top: 4em;
    width: 75%;
    opacity: 0.2;
  }

  /* RiskContent */
  .RiskContent {
    margin-bottom: 2em;
    padding: 1.5em;
  }
  .RiskContentImage {
    width: 96px;
    height: 100%;
  }
  .RiskContentTitle {
    font-size: 18px;
  }
  .RiskContentDescription {
    font-size: 16px;
  }
  /* Risk Section */

  /* Indication Section */
  .IndicationSectionTitle {
    font-size: 36px;
  }
  .IndicationSectionCovid19 {
    font-size: 36px;
  }
  /* RiskContent */
  .IndicationContent1 {
    font-size: 16px;
  }
  .IndicationContent2 {
    font-size: 16px;
    padding: 1em 2em;
    margin-top: 6em;
    margin-bottom: 3em;
  }
  .IndicationIllustration {
    width: 100%;
    margin: 3em 0;
  }
  /* Indication Section */

  /* Infection Section */
  .InfectionSectionTitle {
    font-size: 38px;
  }
  .InfectionSectionCovid19 {
    font-size: 38px;
  }
  .InfectionSectionSubTitle {
    font-size: 24px;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .InfectionIllustration {
    position: absolute;
    z-index: -1;

    display: block;
    top: 22em;
    bottom: 0;
    left: -5em;

    text-align: center;
    width: 30%;
    opacity: 0.2;
  }

  /* Content */
  .InfectionContents {
    margin: 4em 0;
  }
  .InfectionContent {
    margin-bottom: 4em;
  }
  .InfectionContentImage {
    width: 96px;
  }
  .InfectionContentTitle {
    font-size: 18px;
  }
  .InfectionContentDescription {
    font-size: 16px;
  }
  /* Infection Section */

  /* Prevention Section */
  .PreventionSectionTitle {
    font-size: 38px;
  }
  .PreventionSectionCovid19 {
    font-size: 38px;
  }
  .PreventionSectionSubTitle {
    font-size: 24px;
  }
  .PreventionIllustration {
    top: 25%;
    right: 0;

    width: 80%;
    opacity: 0.2;
  }

  /* Content */
  .PreventionContent {
    margin: 5em 0;
  }
  .PreventionContentImage {
    width: 96px;
    margin-right: 2em;
  }
  .PreventionContentTitle {
    font-size: 18px;
  }
  .PreventionContentDescription {
    font-size: 16px;
  }
  /* Prevention Section */
}

@media only screen and (max-width: 600px) {
  .carousel-item {
    height: auto;
  }
  .carousel-inner {
    margin-top: 3em;
  }
  /* Slider */
  .SliderContent1 {
    position: absolute;
    top: 20%;
  }
  .SliderContents1 {
    width: 60%;
    margin-left: 3em;
  }
  .SliderContent1Title {
    font-size: 14px;
  }
  .SliderContent1Image {
    width: 16px;
  }
  .SliderContent1Description {
    font-size: 10px;
    font-weight: 400;
  }
  .SliderContent1Button {
    font-size: 8px;
    padding: 0.3em 1.2em;
  }

  /* TrackCount */
  .TrackCount {
    padding: 0.5em 0;
  }
  .TrackCountImage {
    width: 48px;
    padding-right: 0.5em;
  }
  .TrackCountTitle {
    margin: 0;
    font-size: 10px;
  }
  .TrackCountCount {
    margin: 0;
    font-size: 16px;
  }
  .LiveCount {
    display: none;
  }
  .LiveCountMobile {
    display: block;
    margin-top: 0.8em;
  }
  /* TrackCount */

  .Footer {
    font-size: 10px;
  }
  /* Risk Section */
  /* Risk RiskTitle */
  .RiskSectionTitle {
    font-size: 28px;
    margin: 0;
  }
  .RiskHashtag {
    font-size: 28px;
  }
  .RiskCovid19 {
    font-size: 28px;
  }

  /* Risk Illustration */
  .RiskIllustration {
    top: 5em;
    width: 95%;
  }

  /* RiskContent
 */
  .RiskContent {
    margin-bottom: 0;
    padding: 1em;
  }
  .RiskContentImage {
    width: 64px;
    height: 100%;
  }
  .RiskContentTitle {
    font-size: 14px;
  }
  .RiskContentDescription {
    font-size: 12px;
  }
  /* Risk Section */

  /* Indication Section */
  .IndicationSectionTitle {
    font-size: 28px;
  }
  .IndicationSectionCovid19 {
    font-size: 28px;
  }
  .TitleBar {
    margin-bottom: 2em;
  }
  /* RiskContent
 */
  .IndicationContent1 {
    font-size: 14px;
  }
  .IndicationContent2 {
    font-size: 14px;
    padding: 0.5em 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .IndicationIllustration {
    width: 100%;
    margin-top: 4.5em;
    margin-bottom: 3em;
  }
  /* Indication Section */

  /* Infection Section */
  .InfectionSectionTitle {
    font-size: 28px;
  }
  .InfectionSectionCovid19 {
    font-size: 28px;
  }
  .InfectionSectionSubTitle {
    font-size: 24px;
    margin: 1em 0;
  }
  .InfectionIllustration {
    position: absolute;
    z-index: -1;

    display: block;
    top: 18em;
    bottom: 0;
    left: -5em;

    text-align: center;
    width: 50%;
    opacity: 0.2;
  }

  /* Content */
  .InfectionContents {
    margin: 0;
  }
  .InfectionContent {
    margin: 1em 0;
  }
  .InfectionContentImage {
    width: 64px;
  }
  .InfectionContentTitle {
    font-size: 16px;
  }
  .InfectionContentDescription {
    font-size: 14px;
  }
  /* Infection Section */

  /* Prevention Section */
  .PreventionSectionTitle {
    font-size: 26px;
    text-align: end;
  }
  .PreventionSectionCovid19 {
    font-size: 26px;
  }
  .PreventionSectionSubTitle {
    font-size: 18px;
    text-align: end;
  }
  .PreventionIllustration {
    top: 36%;
    right: 0;

    width: 80%;
    opacity: 0.2;
  }

  /* Content */
  .PreventionContent {
    margin: 2.2em 0;
  }
  .PreventionContentImage {
    width: 64px;
    margin-right: 1em;
  }
  .PreventionContentTitle {
    font-size: 16px;
  }
  .PreventionContentDescription {
    font-size: 14px;
  }
  /* Prevention Section */
}
